version: "3"

services:

  sql-server:
    image: bycorders-desafio-dev-sql-server:latest
    container_name: bycorders-desafio-sql-server
    build: 
      context: ../sql
      dockerfile: ./Dockerfile    
    environment: 
      SA_PASSWORD: "119696@melo"
      ACCEPT_EULA: "Y"

  api-transacoes:
    image: bycorders-desafio-dev-backend:latest
    container_name: bycorders-desafio-dev-backend
    build:
      context: ../src
      dockerfile: ./Bycoders.DesafioDev.API/Dockerfile
    ports: 
      - "5004:5004"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://*:5004
    depends_on:
      - sql-server
  
  mvc-app:
    image: bycorders-desafio-dev-front:latest
    container_name: bycorders-desafio-dev-front
    build:
      context: ../src
      dockerfile: ./Bycoders.DesafioDev.App/Dockerfile
    ports: 
      - "6001:6001"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://*:6001