@model Bycoders.DesafioDev.App.Models.ImportacaoViewModel;

@{
    ViewData["Title"] = "Importação financeira por arquivo";
}

<div class="container" style=" padding-top: 20px">

    <h3 style="padding-top: 50px">@ViewData["Title"] </h3>
    <hr />

    @if (!string.IsNullOrWhiteSpace(Model?.Erro))
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h5 id="msgRetorno" style="padding-top: 20px"><b>Opa! Algo deu errado :(</b></h5>
            <div id="erro">
                <p>
                    @Html.DisplayFor(model => model.Erro) <br>
                </p>
            </div>
            <div style="padding-top: 20px" class="text-danger"></div>
        </div>
    }

    <div class="row">
        <div class="col-md-5">
            <form enctype="multipart/form-data" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label class="control-label">Procurar</label>

                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="txt" asp-for="File">
                        <label data-browse="Procurar" style="width: 400px" class="custom-file-label" for="ImagemUpload"></label>
                        <label style="display: none" id="img_nome"></label>
                    </div>
                </div>
                <div class="form-group">
                    <input id="importar" type="submit" value="Importar" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $("#txt").change(function () {
            $("#img_nome").text(this.files[0].name);
            $("#img_nome")[0].style.display = 'block';
        });
    </script>
}